.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.Combobox{
  padding-bottom: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.overlay-red
{
  background: rgba(161, 32, 32, 0.9); /* Black see-through */
  display: block;
}

.overlay-egs
{
  margin-top: 2%;
  margin-left: 2%;
  width: 10%;
  background: rgb(32, 101, 161, 0.9); /* Black see-through */

}

.overlay-steam
{
  width: 20%;
  transform: scale(1);
  background: rgb(32, 101, 161, 0.9); /* Black see-through */

}

.overlay-steamvr
{
  width: 18%;
  background: rgb(32, 101, 161, 0.9); /* Black see-through */

}

.overlay-white
{
  width: 20%;
  padding: 4px;
  background: rgba(255, 255, 255, 0.9); /* Black see-through */

}

.overlay-oculus
{
  width: 20%;
  background: rgb(32, 101, 161, 0.9); /* Black see-through */

}

.overlay-wii
{
  padding: 1%;
  width: 15%;
  background: rgba(255, 255, 255, 0.9); /* Black see-through */
}

.overlay-ps4
{
  padding-top: 1%;
  padding-right: 50%;
  padding-bottom: 1%;
  width: 100%;
  background: rgba(4, 58, 104, 0.9); /* Black see-through */
}

.overlay-ps3
{
  width: 20%;
  transform: scale(1);
  background: rgba(4, 58, 104, 0.9); /* Black see-through */
}

.overlay-switch
{
  width: 15%;
}

.overlay-PCXGP
{
  width: 15%;
  padding: 1%;
  background: rgba(16, 33, 12,0.8); /* Black see-through */
}

.overlay-origin
{
  width: 40%;

}

.overlay-stadia
{
  width: 15%;
  transform: scale(1);
  background: rgba(204, 49, 10, 0.9); /* Black see-through */
}

.overlay-notdefined {
  width: 20%;
}
.Image {
  max-width: calc(40vmin);
  max-height: calc(40vmin);
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  opacity:1;
  max-width: 100%;
  color: white;
  font-size: 20px;
/*  padding-left: 20px;
  padding-right: 20px;*/
  text-align: center;
}
/*table { overflow-x: unset;}*/

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 3vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
